<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>BiblioSoft</display-name>
	<welcome-file-list>
		<welcome-file>fin.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>readermanagentServlet</servlet-name>
		<servlet-class>servlet.readermanagentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readermanagentServlet</servlet-name>
		<url-pattern>/readerList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookmanagentServlet</servlet-name>
		<servlet-class>servlet.bookmanagentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookmanagentServlet</servlet-name>
		<url-pattern>/bookList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>readersearchServlet</servlet-name>
		<servlet-class>servlet.readersearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readersearchServlet</servlet-name>
		<url-pattern>/readersearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>booksearchServlet</servlet-name>
		<servlet-class>servlet.booksearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>booksearchServlet</servlet-name>
		<url-pattern>/booksearch</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>readeradd.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>readeraddServlet</servlet-name>
		<servlet-class>servlet.readeraddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readeraddServlet</servlet-name>
		<url-pattern>/readeradd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>bookadd.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>bookaddServlet</servlet-name>
		<servlet-class>servlet.bookaddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookaddServlet</servlet-name>
		<url-pattern>/bookadd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>readeredit.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>readereditServlet</servlet-name>
		<servlet-class>servlet.readereditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readereditServlet</servlet-name>
		<url-pattern>/readeredit</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>bookedit.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>bookeditServlet</servlet-name>
		<servlet-class>servlet.bookeditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookeditServlet</servlet-name>
		<url-pattern>/bookedit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>readerdeleteServlet</servlet-name>
		<servlet-class>servlet.readerdeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>readerdeleteServlet</servlet-name>
		<url-pattern>/readerdeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookdeleteServlet</servlet-name>
		<servlet-class>servlet.bookdeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookdeleteServlet</servlet-name>
		<url-pattern>/bookdeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>borrowBook</servlet-name>
		<servlet-class>servlet.borrowBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrowBook</servlet-name>
		<url-pattern>/borrowBooks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReturnBooks</servlet-name>
		<servlet-class>servlet.ReturnBooks</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReturnBooks</servlet-name>
		<url-pattern>/ReturnBooks</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin1</servlet-name>
		<servlet-class>servlet.Admin1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin1</servlet-name>
		<url-pattern>/admin1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminop</servlet-name>
		<servlet-class>servlet.AdminOp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminop</servlet-name>
		<url-pattern>/adminop</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin2</servlet-name>
		<servlet-class>servlet.Admin2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin2</servlet-name>
		<url-pattern>/admin2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReaderServlet</servlet-name>
		<servlet-class>servlet.ReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReaderServlet</servlet-name>
		<url-pattern>/getreader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EnsureBorrowBookServlet</servlet-name>
		<servlet-class>servlet.EnsureBorrowBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnsureBorrowBookServlet</servlet-name>
		<url-pattern>/EnsureBorrowBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deletOrder</servlet-name>
		<servlet-class>servlet.deletOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletOrder</servlet-name>
		<url-pattern>/deletOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addOrder</servlet-name>
		<servlet-class>servlet.addOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addOrder</servlet-name>
		<url-pattern>/addOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchBook</servlet-name>
		<servlet-class>servlet.searchBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchBook</servlet-name>
		<url-pattern>/searchBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getAuthorityServlet</servlet-name>
		<servlet-class>servlet.getAuthorityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAuthorityServlet</servlet-name>
		<url-pattern>/getA</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>modifyPersonImformation</servlet-name>
		<servlet-class>servlet.modifyPersonImformation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyPersonImformation</servlet-name>
		<url-pattern>/modifyImformation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changePassword</servlet-name>
		<servlet-class>servlet.changePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changePassword</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>SendEmail</servlet-name>
		<servlet-class>servlet.SendEmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendEmail</servlet-name>
		<url-pattern>/sendemail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailResetPd</servlet-name>
		<servlet-class>servlet.EmailResetPd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailResetPd</servlet-name>
		<url-pattern>/backpd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailChangePd</servlet-name>
		<servlet-class>servlet.EmailChangePd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailChangePd</servlet-name>
		<url-pattern>/emailchangepd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookDetailServlet</servlet-name>
		<servlet-class>servlet.bookDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookDetailServlet</servlet-name>
		<url-pattern>/bookDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookEditAndSaveServlet</servlet-name>
		<servlet-class>servlet.bookEditAndSaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookEditAndSaveServlet</servlet-name>
		<url-pattern>/bookEditAndSave</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>BarcodeServlet</servlet-name>
		<servlet-class>servlet.BarcodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/barcode</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>bookeditServlet2</servlet-name>
		<servlet-class>servlet.bookeditServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookeditServlet2</servlet-name>
		<url-pattern>/bookeditServlet2</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>bookaddServlet2</servlet-name>
		<servlet-class>servlet.bookaddServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookaddServlet2</servlet-name>
		<url-pattern>/bookadd2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>borrowrecordServlet</servlet-name>
		<servlet-class>servlet.borrowrecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrowrecordServlet</servlet-name>
		<url-pattern>/borrowedrecordList</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>bookdeleteinformationServlet</servlet-name>
		<servlet-class>servlet.bookdeleteinformationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookdeleteinformationServlet</servlet-name>
		<url-pattern>/bookdeleteList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JumpToDetailServlet</servlet-name>
		<servlet-class>servlet.JumpToDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JumpToDetailServlet</servlet-name>
		<url-pattern>/JumpToDetailServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bookDetailServletrr</servlet-name>
		<servlet-class>servlet.bookDetailServletrr</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookDetailServletrr</servlet-name>
		<url-pattern>/bookDetailServletrr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bookDetailChangeLocationServlet</servlet-name>
		<servlet-class>servlet.bookDetailChangeLocationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookDetailChangeLocationServlet</servlet-name>
		<url-pattern>/bookDetailChangeLocationServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>servlet.LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/LogOutServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>finepaymentServlet</servlet-name>
		<servlet-class>servlet.finepaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>finepaymentServlet</servlet-name>
		<url-pattern>/finepaymentServlet</url-pattern>
	</servlet-mapping> 


	<servlet>
    <servlet-name>EditNewsServlet</servlet-name>
    <servlet-class>servlet.EditNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsServlet</servlet-name>
    <url-pattern>/EditNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LibrarianFirstPageServlet</servlet-name>
    <servlet-class>servlet.LibrarianFirstPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianFirstPageServlet</servlet-name>
    <url-pattern>/LibrarianFirstPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsTextServlet</servlet-name>
    <servlet-class>servlet.EditNewsTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsTextServlet</servlet-name>
    <url-pattern>/EditNewsText</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostDetailsServlet</servlet-name>
    <servlet-class>servlet.PostDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDetailsServlet</servlet-name>
    <url-pattern>/PostDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postmanagentServlet</servlet-name>
    <servlet-class>servlet.postmanagentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postmanagentServlet</servlet-name>
    <url-pattern>/postList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postdeleteServlet</servlet-name>
    <servlet-class>servlet.postdeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postdeleteServlet</servlet-name>
    <url-pattern>/postdeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsServlet2</servlet-name>
    <servlet-class>servlet.EditNewsServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsServlet2</servlet-name>
    <url-pattern>/EditNewsServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditNewsServlet3</servlet-name>
    <servlet-class>servlet.EditNewsServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsServlet3</servlet-name>
    <url-pattern>/EditNews2</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditNewsTextServlet2</servlet-name>
    <servlet-class>servlet.EditNewsTextServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsTextServlet2</servlet-name>
    <url-pattern>/EditNewsTextServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecieveFine2Servlet</servlet-name>
    <servlet-class>servlet.RecieveFine2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecieveFine2Servlet</servlet-name>
    <url-pattern>/recievefine2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecieveFineServlet</servlet-name>
    <servlet-class>servlet.RecieveFineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecieveFineServlet</servlet-name>
    <url-pattern>/RecieveFines</url-pattern>
  </servlet-mapping>
  
  		<servlet>
    <servlet-name>ShowReaderBorrowRecord</servlet-name>
    <servlet-class>servlet.ShowReaderBorrowRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReaderBorrowRecord</servlet-name>
    <url-pattern>/ShowReaderBorrowRecord</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowReaderReturnRecord</servlet-name>
    <servlet-class>servlet.ShowReaderReturnRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReaderReturnRecord</servlet-name>
    <url-pattern>/ShowReaderReturnRecord</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ShowBookBorrowedRecord</servlet-name>
    <servlet-class>servlet.ShowBookBorrowedRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookBorrowedRecord</servlet-name>
    <url-pattern>/ShowBookBorrowedRecord</url-pattern>
  </servlet-mapping> 
  
 <servlet>
    <servlet-name>ShowBookReturnedRecord</servlet-name>
    <servlet-class>servlet.ShowBookReturnedRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBookReturnedRecord</servlet-name>
    <url-pattern>/ShowBookReturnedRecord</url-pattern>
  </servlet-mapping> 

  
  <servlet>
    <servlet-name>ShowIncome</servlet-name>
    <servlet-class>servlet.ShowIncome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIncome</servlet-name>
    <url-pattern>/ShowIncome</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>ShowIncome1</servlet-name>
    <servlet-class>servlet.ShowIncome1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIncome1</servlet-name>
    <url-pattern>/ShowIncome1</url-pattern>
  </servlet-mapping> 

<servlet>
		<servlet-name>borrowrecordsearchServlet</servlet-name>
		<servlet-class>servlet.borrowrecordsearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>borrowrecordsearchServlet</servlet-name>
		<url-pattern>/borrowrecordsearch</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>lostfineServlet1</servlet-name>
		<servlet-class>servlet.lostfineServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lostfineServlet1</servlet-name>
		<url-pattern>/lostfine</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>lostfineServlet2</servlet-name>
		<servlet-class>servlet.lostfineServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lostfineServlet2</servlet-name>
		<url-pattern>/lostfine2</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>LabelManage</servlet-name>
		<servlet-class>servlet.LabelManage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LabelManage</servlet-name>
		<url-pattern>/Labeledit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OperateLabel</servlet-name>
		<servlet-class>servlet.OperateLabel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OperateLabel</servlet-name>
		<url-pattern>/opreatelabel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LocationManage</servlet-name>
		<servlet-class>servlet.LocationManage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationManage</servlet-name>
		<url-pattern>/Locationedit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OperateLocation</servlet-name>
		<servlet-class>servlet.OperateLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OperateLocation</servlet-name>
		<url-pattern>/opreatelocation</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modifyQuestion</servlet-name>
		<servlet-class>servlet.modifyQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifyQuestion</servlet-name>
		<url-pattern>/modifyQuestion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modifypassword1Servlet</servlet-name>
		<servlet-class>servlet.modifypassword1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifypassword1Servlet</servlet-name>
		<url-pattern>/modifypassword1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>modifypassword2Servlet</servlet-name>
		<servlet-class>servlet.modifypassword2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifypassword2Servlet</servlet-name>
		<url-pattern>/modifypassword2</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>indexpage</servlet-name>
		<servlet-class>servlet.indexpage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexpage</servlet-name>
		<url-pattern>/indexpage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>finPostServlet</servlet-name>
		<servlet-class>servlet.finPostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>finPostServlet</servlet-name>
		<url-pattern>/finPost</url-pattern>
	</servlet-mapping>

	
</web-app>